In [ ]:
import pandas as pd

**데이터 불러오기**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/train.csv')
df.head(10)

   ID             Class
0   0             siren
1   1      street_music
2   2          drilling
3   3             siren
4   4          dog_bark
5   6  children_playing
6  10      street_music
7  11          drilling
8  12          gun_shot
9  15          dog_bark

In [ ]:
import numpy as np
n_df = df.to_numpy()
#df 파일을 numpy array로 바꿈.
print(type(n_df))

list_df = n_df.tolist()
#numpy array 를 list로 바꿈
print(type(list_df))

# 나중에는 tensor 데이터 타입을 사용함. numpy와 유사하지만, numpy와 다르게 gpu를 사용할 수 있다는 특징이 있다.

<class 'numpy.ndarray'>
<class 'list'>

In [ ]:
#python 리스트의 매력.
#array와 다르게 다른 자료형도 넣을 수 있다.
#데이터가 지저분해도 막 가져올 수 있다는 게 정말 쩐다. 그래서 python이 빅데이터에 유리하다.

list_data = [1, 2, 3, "apple"]
n_list_data = np.array(list_data) #데이터 타입을 맞춰주기 위해서 자동으로 integer을 String으로 바꿈.
n_list_data

array(['1', '2', '3', 'apple'], dtype='<U21')

**데이터 프레임의 구성**

In [ ]:
type(df.head())
#dataFrame type

pandas.core.frame.DataFrame

In [ ]:
df

        ID            Class
0        0            siren
1        1     street_music
2        2         drilling
3        3            siren
4        4         dog_bark
...    ...              ...
5430  8725    engine_idling
5431  8726         dog_bark
5432  8727    engine_idling
5433  8728    engine_idling
5434  8729  air_conditioner

[5435 rows x 2 columns]

In [ ]:
df.index
#index는 갯수에 따라 자동으로 붙음.

RangeIndex(start=0, stop=5435, step=1)

In [ ]:
df.columns

Index(['ID', 'Class'], dtype='object')

In [ ]:
df.values 

#대괄호 갯수에 다라 n차 array라고 본다.
#그래서 데이터 타입이 ndarray라고 한다. (n차 array)

array([[0, 'siren'],
       [1, 'street_music'],
       [2, 'drilling'],
       ...,
       [8727, 'engine_idling'],
       [8728, 'engine_idling'],
       [8729, 'air_conditioner']], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5435 entries, 0 to 5434
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5435 non-null   int64
 1   Class   5435 non-null   object
dtypes: int64(1), object(1)
memory usage: 85.0+ KB

In [ ]:
#랜덤불러오기
df.sample(5)

        ID            Class
3297  5313         gun_shot
3125  5021     street_music
4883  7858         drilling
0        0            siren
4097  6618  air_conditioner

In [ ]:
# 랜덤으로 불러온 것의 index값을 초기화해서 다시 정렬

df.sample(10).reset_index(drop=False) # drop=True < 기존 남아있는 인덱스를 제거하기 위해서는 True라고 하면 됨.

   index    ID          Class
0    325   493       car_horn
1   2876  4632       dog_bark
2   2580  4129     jackhammer
3   3547  5726  engine_idling
4   4616  7426  engine_idling
5   4003  6464       drilling
6   2818  4531   street_music
7    374   571       car_horn
8   3100  4973       drilling
9   1661  2666          siren

**인덱싱**

In [ ]:
df['Class']

0                 siren
1          street_music
2              drilling
3                 siren
4              dog_bark
             ...
5430      engine_idling
5431           dog_bark
5432      engine_idling
5433      engine_idling
5434    air_conditioner
Name: Class, Length: 5435, dtype: object

In [ ]:
df[['Class', 'ID']]

                Class    ID
0               siren     0
1        street_music     1
2            drilling     2
3               siren     3
4            dog_bark     4
...               ...   ...
5430    engine_idling  8725
5431         dog_bark  8726
5432    engine_idling  8727
5433    engine_idling  8728
5434  air_conditioner  8729

[5435 rows x 2 columns]

In [ ]:
df['Class'][5430]

'engine_idling'

In [ ]:
df.loc[4, 'Class'] #행을 먼저쓰고 열을 찾는다.

'dog_bark'

In [ ]:
df

        ID            Class
0        0            siren
1        1     street_music
2        2         drilling
3        3            siren
4        4         dog_bark
...    ...              ...
5430  8725    engine_idling
5431  8726         dog_bark
5432  8727    engine_idling
5433  8728    engine_idling
5434  8729  air_conditioner

[5435 rows x 2 columns]

In [ ]:
df.iloc[4, 1]
#i = index
#4번 째 인덱스에서, 1번째 column [0부터 시작함]

'dog_bark'

**슬라이싱**

In [ ]:
df['ID'][5:10]
#열을 쓰고 행을 씀

5     6
6    10
7    11
8    12
9    15
Name: ID, dtype: int64

In [ ]:
df['Class'][4:10]

4            dog_bark
5    children_playing
6        street_music
7            drilling
8            gun_shot
9            dog_bark
Name: Class, dtype: object

In [ ]:
df[df['ID']<10]
#df로 다시 감쌌기에 표 형식으로 출력됨.

   ID             Class
0   0             siren
1   1      street_music
2   2          drilling
3   3             siren
4   4          dog_bark
5   6  children_playing

**삭제**

In [ ]:
df.drop(3)
#행 삭제

        ID             Class
0        0             siren
1        1      street_music
2        2          drilling
4        4          dog_bark
5        6  children_playing
...    ...               ...
5430  8725     engine_idling
5431  8726          dog_bark
5432  8727     engine_idling
5433  8728     engine_idling
5434  8729   air_conditioner

[5434 rows x 2 columns]

In [ ]:
df.drop([1,4, 5, 7])

        ID
0        0
2        2
3        3
6       10
8       12
...    ...
5430  8725
5431  8726
5432  8727
5433  8728
5434  8729

[5431 rows x 1 columns]

In [ ]:
df.drop('Class', axis=1, inplace=False)

#열 삭제
#axis = 1은 열의 방향, 0은 행의 방향
# df = df.drop을 해야 저장이 됨. 안 하면 df로 불러왔을 때 초반에 설정한 테이블이 나옴.
# 이때, inplace = Ture로 할 경우, 바로 저장이 됨.

        ID
0        0
1        1
2        2
3        3
4        4
...    ...
5430  8725
5431  8726
5432  8727
5433  8728
5434  8729

[5435 rows x 1 columns]

In [ ]:
df #위에서 inplace True로 할 경우 열이 사라진 것이 반영됨.

        ID            Class
0        0            siren
1        1     street_music
2        2         drilling
3        3            siren
4        4         dog_bark
...    ...              ...
5430  8725    engine_idling
5431  8726         dog_bark
5432  8727    engine_idling
5433  8728    engine_idling
5434  8729  air_conditioner

[5435 rows x 2 columns]

**그룹화**

In [ ]:
df_grp = df.groupby('Class').count() #count(), sample(), mean(), max(), median(), sum()
#count : 갯수
#min : 해당 클래스의 파일 중 가장 작은 id를 출력
#max : min의 반대

#df_grp = df.groupby('Class').count()/5435*100 #비율로 표시

df_grp

                   ID
Class
air_conditioner   600
car_horn          306
children_playing  600
dog_bark          600
drilling          600
engine_idling     624
gun_shot          230
jackhammer        668
siren             607
street_music      600

In [ ]:
df['numeric_class'] = df['Class'].astype('category').cat.codes
#class를 카테고리화 해서 numeric_class라는 열을 추가하고 저장.
#astype : data type을 바꿈.

df

        ID            Class  numeric_class
0        0            siren              8
1        1     street_music              9
2        2         drilling              4
3        3            siren              8
4        4         dog_bark              3
...    ...              ...            ...
5430  8725    engine_idling              5
5431  8726         dog_bark              3
5432  8727    engine_idling              5
5433  8728    engine_idling              5
5434  8729  air_conditioner              0

[5435 rows x 3 columns]

In [ ]:
df.drop('numeric_class', axis=1, inplace=True)
df

        ID            Class
0        0            siren
1        1     street_music
2        2         drilling
3        3            siren
4        4         dog_bark
...    ...              ...
5430  8725    engine_idling
5431  8726         dog_bark
5432  8727    engine_idling
5433  8728    engine_idling
5434  8729  air_conditioner

[5435 rows x 2 columns]